#order-info-container {
  margin-top: 3em;
  width: 100%;
  overflow: auto;
}

#last-orders-container {
  max-width: 450px;
  min-width: 400px;
  height: 350px;
  background-color: #d6f4fe;
  margin: 0 auto;
  border-radius: 15px;
}

#last-orders-title {
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: #046f91;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 2em;
  padding-top: 0.5em;
  font-weight: bold;
}

#order-info-container > .half {
  width: 50%;
  float: left;
}

#user-info > pre {
  font-size: 20px;
  font-family: "Times New Roman";
  line-height: 1.5em;
}

@media screen and (max-width: 900px) {
  #order-info-container > .half {
    width: 100%;
  }
}

#search-rooms-container {
  width: 100%;
  height: 8em;
  background-color: #f5f5f5;
  margin-top: 1.5em;
}

#search-rooms-title {
  position: relative;
  text-align: center;
  top: 0.4em;
  font-size: 25px;
  font-family: "Times New Roman";
  font-weight: bold;
}

#fields-container {
  padding: 1em;
  padding-left: 2em;
  position: relative;
  top: 2em;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.field-counter-button {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  font-size: 16px;
  border-radius: 6px;
  user-select: none;
  text-align: center;
  padding-left: 1px;
  font-family: Verdana;
  background-color: #d9e7fc;
}

.field-counter-button:enabled:hover {
  cursor: pointer;
}

.counter {
  font-size: 18px;
  margin: 0 0.35em;
}

.form-icon {
  height: 35px;
  margin-right: 5px;
  user-select: none;
}

.right-indent {
  margin-right: 25px;
}

.submit-search {
  height: 50px;
  width: 50px;
  border: none;
  background: linear-gradient(110deg, rgba(0,16,135,1) 0%, rgba(56,145,227,1) 100%);
  opacity: 0.8;
  transition: 0.15s;
  border-radius: 10px;
}

.submit-search-image {
  width: 100%;
  height: 100%;
  background-image: url("../pictures/mglass-logo.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 37px 37px;
  filter: invert(100%);
}

.submit-search:hover {
  opacity: 1;
  cursor: pointer;
}

.form-data-input {
  font-size: 16px;
}

.search-form-item {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  float: left;
}

#room-type-select {
  font-size: 18px;
  padding: 2px;
  margin-left: 4px;
}

#room-type-select:focus {
  outline: none;
}

#form-result-info:disabled {
  font-size: 16px;
  border: 1px solid black;
  height: 36px;
  border-radius: 5px;
  color: black;
  width: 435px;
  padding: 3px;
  background-color: #d9d9d9;
}

#last-orderds-empty-text {
  font-size: 20px;
  color: gray;
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#role-dropdown {
  height: fit-content;
  display: flex;
  width: 100px;
  background: none;
  color: white;
  flex-flow: column;
  text-align: center;
  font-size: 16px;
  font-family: Verdana;
}

#role-dropdown-child {
  background-color: #f2f2f2;
}

#role-dropdown:hover {
  background-color: #0f0d5b;
  color: white;
  cursor: pointer;
}

#role-dropdown-child {
  display: none;
}

#role-dropdown-child > div:hover {
  background-color: #e0e0e0;
  color: black;
}

#role-dropdown-child > div {
  border-top: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#role-dropdown:hover #role-dropdown-child {
  display: block;
}

#current-role {
  display: block;
  padding: 10px;
  text-decoration: underline;
}
