<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <display-name>HotelSystemServlet</display-name>
        <description>My Single Servlet</description>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.rudametkin.hotelsystem.Controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/cabinet</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/roomview</url-pattern>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/pages/main.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <location>/pages/error.jsp</location>
    </error-page>
</web-app>

